.main{
  flex: 1;
  color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.levelIcon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.levelTitle{
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.levelInfo{
  font-weight: bold;
  font-size: 13px;
  margin-top: 14px;
}

.userImc{
  font-size: 18px;
  margin: 10px 0 50px 0;
}